html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: all-round-gothic, sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #384237;
}


.navContainer {
  position: fixed;
  width: 100vw;
  height: 6rem;
  z-index: 100;
  background-color: #ebe9d0;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 15px 5px #202e25;
  box-sizing: border-box;

  transition: 0.5s;
}

.navContainerScroll {
  pointer-events: none;
  position: fixed;
  width: 100vw;
  height: 4rem;
  z-index: 100;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  transition: 1s;
}

.logo {
  height: 5.5rem;
  width: auto;
}


.navigator {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 35rem;
  font-size: 2.5rem;
  color: #384237;
  transition: 0.5s;
}

.navigatorScroll {
  pointer-events: all;
  width: 3.5rem;
  height: 2.5rem;
  color: transparent;
  background-color: rgb(255, 255, 255, .4);
  transition: 0.5s;
}

.hamburger {
  width: 35px;
  height: 5px;
  background-color: #202e25;
  margin: 6px 0;
  margin-left: auto;
  margin-right: auto;
}

.navigatorScroll .navItem {
  display: none;
}

.navigatorScroll:hover .hamburger {
  display: none;
}

.navigatorScroll:hover {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color:#ebe9d0;
  width: 35rem;
  height: 6rem;
  font-size: 2.5rem;
  color: #384237;
  box-shadow: 10px 10px 0px  #121e1b;
}

.navigatorScroll:hover .navItem {
  display:block;
}
.navItem:hover {
  color: #F4A13C;
  text-decoration: underline;
  cursor: pointer;
}

.mainContainer {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  /* background-image: url(../public/topbg.jpg);
  background-size: 45rem;
  background-repeat: repeat-x;
  background-position: top 0rem; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.mainContainer section {
  position: absolute;
  top: 15%;
  left: 3%;
  font-size: 4vw;
  color: #F4A13C;
  padding: 3rem;
  background-color: rgb(22,26,22,.85);
  font-weight: 700;
}

.yogi {
  color: whitesmoke;
}

.fluff {
  width: 98%;
  text-align: end;
  font-size: 3.5rem;
  color: #F4A13C;
  margin-top: auto;
  margin-bottom: auto;
  /* text-shadow: 3px 3px 0px #772b0a; */
}

.foodBG {
  height: 25vh;
  max-height: 30vh;
  width: 100vw;
  object-fit: cover;
}

.foodPoster {
  height: 50rem;
  max-height: 50vh;
  max-width: 100vw;
  object-fit: cover;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #D8BEAD;
  background-image: url(../public/menubg.png);
  background-size: 500px;
  box-sizing: border-box;
  padding-top: 3rem;
  padding-bottom: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;
} 

.menuContainer h2 {
  text-align: center;
  font-size: 3vw;
  padding: 2rem;
  background-color: #FEF1E0 ;
}

.menuBox {
  width: 80vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 25vw));
  gap: 1.5rem;
  box-sizing: border-box;
  justify-content: space-evenly;
}

.menuItem {
  position: relative;
  font-size: 180%;
  padding: 1.5rem;
  background-color: #FEF1E0;
  color: rgb(54, 55, 54);
  box-shadow: 10px 10px 0px  #c69674;
  display: flex;
  flex-direction: column;
}

.foodThumb {
  display: none;
}


.name {
  width: 100%;
}

.menuPic {
  width: 7%;
  min-width: 1.2rem;
  height: auto;
  object-fit: cover;
  align-self: center;
}

.price:hover {
  cursor: pointer;
}

.price:hover + .foodThumb {
  display: block;
  z-index: 150;
  position: fixed;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  min-width: 30rem;
  object-fit: contain;
}

.details {
  font-size: 70%;
  color: rgb(101, 98, 98);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}


 .details > * {
  margin-bottom: 10px;
}

.details .accompaniment {
  font-size: 70%;
}

#hot {
  color:crimson;
}
.price {
  text-align: end;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.extra {
  color: #dc8924;
}

.categoryContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60rem;
  height: 5rem;
  background-color: #FEF1E0;
  font-size: 2rem;
  color: #384237;
  box-shadow: 10px 10px 0px  #c69674;
  margin-bottom: 3rem;
}

.categoryButton {
  text-align: center;
}
.categoryButton:hover {
  color: #F4A13C;
  cursor: pointer;
}

.categoryButtonActive {
  color: #F4A13C;
  text-align: center;
  cursor: pointer;
}

.aboutContainer {
  display: flex;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 3rem;
  background-image: url(../public/businessbg.png);
  background-size: 500px;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.findUs {
  position: absolute;
  z-index: 200;
  top: -5%;
  left: -10%;
  width: 20rem;
  font-size: 3rem;
  background-color: white;
  color: #F4A13C;
  text-align: center;
  padding: 2rem;
  /* box-shadow: 10px 10px 0 rgb(54, 55, 54); */
}
.aboutBG {
  z-index: 0;
  position: relative;
  align-self: center;
  width: 40rem;
  max-width: 40vw;
  height: 70vh;
  object-fit: cover;
  object-position: 60% 50%;
  border-radius: 10px;
}
.closed {
  color: rgb(232,0,0);
}
.aboutLeft {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 2rem;
}

.aboutRight {
  padding: 2rem;
  text-align: center;
  background-color: white;
  color: rgb(82, 77, 77);
  min-width: 30vw;
  /* box-shadow: 5px 5px 8px rgb(54, 55, 54); */
  font-size: 1.3rem;
}

.aboutRight h2 {
  color: rgb(54, 55, 54)
}

address {
  font-family: all-round-gothic, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.usContainer {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: #151918;
  color:whitesmoke;
  padding: 3rem;
  font-size: 3vw;
}

.usContainer p {
  font-size: 1.5vw;
  color: rgb(207, 202, 202)
}

.usLeft {
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
}

.usRight {
  width: 40vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.galleryContainer {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: #fbeee6;
  font-size: 4vw;
  padding-top: .5vh;
  display: flex;
  flex-direction: column;
}

.galleryContainer h2 {
  margin-left: 60px;
}
.gallery {
  display: grid;
  height: auto;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: auto;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.gallery::-webkit-scrollbar {
}

.galleryPic {
  width: 20vw;
  max-height: 30vh;
  justify-self: center;
  height: auto;
  object-fit: contain;
  color: #384237
  #F4A13C
}


.usImg {
  width: 15vw;
  max-height: 70vh;
  object-fit: cover;
}

#img2 {
  align-self: flex-end;
}

@media screen and (max-width: 960px) {
  .logo {
    content: url(../public/logo-small.png);
    height: 3rem;
  }

  .navContainer {
    height: 3rem;
    padding-right: 0;
  }
  .navContainerScroll {
    pointer-events: all;
    background-color: #ebe9d0;
    padding-right: 0;
    margin-top: 0;
    height: 3rem;
  }

  .navigator {
    font-size: 4vw;
    width: 70vw;
  }

  .navigatorScroll {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 4vw;
    height: 3rem;
    width: 70vw;
    box-shadow: none;
    color: #384237;
    background-color: #ebe9d0;
  }

  .navigatorScroll:hover {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 4vw;
    height: 3rem;
    width: 70vw;
    box-shadow: none;
    color: #384237;
  }

  .navigatorScroll .navItem {
    display: block;
  }

  .hamburger {
    display: none;
  }
  
  .categoryContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 20vw));
    min-width: 75vw;
    width: auto;
    max-width: 100vw;
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .categoryButton {
    min-width: 30vw;
    width: auto;
    text-align: center;
  }
  
  .categoryButtonActive {
    min-width: 30vw;
    text-align: center;
    width: auto;
  }

  .menuBox {
    grid-template-columns: repeat(2, minmax(auto, 30rem));
  }

  .menuItem {
    font-size: 1rem;
  }
  .details {
    visibility: hidden;
    margin: 0;
    width: 0;
    height: 0;
  }

  .name {
    margin-bottom: 20px;
    text-align: center;
  }
  .inlineId {
    font-size: 0;
  }

  .price:hover + .foodThumb {
    width: 80%;
    min-width: 10rem;
  }

  .aboutContainer {
    height: auto;
    min-height: 100vh;
    padding: 1rem;
  }
  .aboutLeft {
    display: none;
  }
  .aboutRight {
    padding: .5rem;
    background-color: transparent;
    font-size: 1rem;
    width: 90vw;
    background-color: white;
    color:rgb(82, 77, 77);
  }

  .menuContainer h2 {
    text-align: center;
    font-size: 2.5rem;
  }
  
  .usContainer {
    flex-direction: column;
    font-size: 1.7rem;
    padding: .5rem;
    height: auto;
    min-height: 100vh;
  }

  .usContainer p {
    font-size: 1rem;
  }

  .usLeft {
    width: 95vw;
    height: 60vh;
    flex-direction: column;
    align-content: space-evenly;
  }

  .usRight {
    width: 95vw;
    height: auto;
    min-height: 40vh;
    justify-content: flex-start;
  }

  .usImg {
    width: 80vw;
    max-height: 15vh;
  }
  .fluff {
    font-size: 1.8rem;
  }
  .mainContainer section {
    font-size: 2rem;
    padding: .5rem;
    top: 18%;
    text-align: center;
  }
  .galleryContainer {
    font-size: 2rem;
  }

  .galleryContainer h2 {
    text-align: center;
    color: rgb(54, 55, 54);
  }

  .gallery {
    grid-template-rows: repeat(2, 30vh);
    height: auto;
  }
  .galleryPic {
    width: auto; 
    transition: none;
  }
}

@media screen and (min-width: 2560px) {
  .navContainer {
    height: 14rem;
  }
  .navContainerScroll {
    height: 14rem;
  }

  .logo {
    height: 10rem;
  }

  .navigator {
    font-size: 6rem;
    width: 90rem;
  }

  .navigatorScroll {
    width: 6.5rem;
    height: 4.5rem;
  }

  .hamburger {
    width: 75px;
    height: 8px;
    margin: 12px;
  }

  .navigatorScroll:hover {
    width: 90rem; 
    height: 16rem;
    font-size: 6rem;
  }

  .fluff {
    font-size: 4vw;
  }

  .menuContainer {
    background-size: 1500px;
  }
  
  .categoryContainer {
    width: 80vw;
    height: 10vh;
    font-size: 3vw;
  }

  .menuItem {
    font-size: 1.5vw;
  }

  .aboutContainer {
    background-size: 1500px;
  }

  .findUs {
    left: -15%;
    width: 15vw;
    font-size: 1.5vw;
  }

  .aboutBG {
    width: 35vw;
  }

  .aboutRight {
    font-size: 1.2vw;
  }
}