html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: all-round-gothic, sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #384237;
}


.navContainer {
  position: fixed;
  width: 100vw;
  height: 6rem;
  z-index: 100;
  background-color: #ebe9d0;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 15px 5px #202e25;
  box-sizing: border-box;
}

.navContainerScroll {
  pointer-events: none;
  position: fixed;
  width: 100vw;
  height: 4rem;
  z-index: 100;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.logo {
  height: 5.5rem;
  width: auto;
}


.navigator {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 35rem;
  font-size: 2.5rem;
  color: #384237;
}

.navigatorScroll {
  pointer-events: all;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color:#ebe9d0;
  width: 35rem;
  height: 6rem;
  font-size: 2.5rem;
  color: #384237;
  box-shadow: 10px 10px 0px  #121e1b;
}

.navItem:hover {
  color: #F4A13C;
  text-decoration: underline;
  cursor: pointer;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  /* background-image: url(../public/topbg.jpg);
  background-size: 45rem;
  background-repeat: repeat-x;
  background-position: top 0rem; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.fluff {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 6vh;
  color: #F4A13C;
  text-shadow: 3px 3px 0px #772b0a;
}

.foodBG {
  height: 25vh;
  max-height: 30vh;
  width: 100vw;
  object-fit: cover;
}

.foodPoster {
  height: 50rem;
  max-height: 50vh;
  max-width: 100vw;
  object-fit: cover;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #D8BEAD;
  background-image: url(../public/menubg.jpeg);
  background-size: 500px;
  box-sizing: border-box;
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;
} 

.menuBox {
  width: 80vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 25vw));
  gap: 1.5rem;
  box-sizing: border-box;
  justify-content: space-evenly;
}

.menuItem {
  font-size: 180%;
  padding: 1.5rem;
  background-color: #FEF1E0;
  color: rgb(54, 55, 54);
  box-shadow: 10px 10px 0px  #c69674;
  display: flex;
  flex-direction: column;
}

.foodThumb {
  display: none;
}

.name {
  width: 100%;
}
.name:hover {
  cursor: pointer;
}

.name:hover + .foodThumb {
  display: block;
  z-index: 150;
  position: fixed;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  min-width: 30rem;
  object-fit: contain;
}

.details {
  font-size: 70%;
  color: rgb(101, 98, 98);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}


 .details > * {
  margin-bottom: 10px;
}

.details .accompaniment {
  font-size: 70%;
}

#hot {
  color:crimson;
}
.price {
  text-align: end;
  margin-top: auto;
}

.extra {
  color: #dc8924;
}

.categoryContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60rem;
  height: 5rem;
  background-color: #FEF1E0;
  font-size: 2rem;
  color: #384237;
  box-shadow: 10px 10px 0px  #c69674;
  margin-bottom: 3rem;
}

.categoryButton {
  text-align: center;
}
.categoryButton:hover {
  color: #F4A13C;
  cursor: pointer;
}

.categoryButtonActive {
  color: #F4A13C;
  text-align: center;
  cursor: pointer;
}

.aboutContainer {
  display: flex;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 3rem;
  background-image: url(../public/businessbg.jpeg);
  background-size: 500px;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.findUs {
  position: absolute;
  z-index: 200;
  top: 0;
  left: -10%;
  width: 20rem;
  font-size: 3rem;
  background-color: white;
  color: #F4A13C;
  text-align: center;
  padding: 2rem;
  /* box-shadow: 10px 10px 0 rgb(54, 55, 54); */
}
.aboutBG {
  z-index: 0;
  position: relative;
  align-self: center;
  width: 40rem;
  max-width: 40vw;
  height: 70vh;
  object-fit: cover;
  object-position: 60% 50%;
  border-radius: 10px;
}
.closed {
  color: rgb(232,0,0);
}
.aboutLeft {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 2rem;
}

.aboutRight {
  padding: 2rem;
  text-align: center;
  background-color: white;
  color: rgb(82, 77, 77);
  /* box-shadow: 5px 5px 8px rgb(54, 55, 54); */
  font-size: 1.3rem;
}

.aboutRight h2 {
  color: rgb(54, 55, 54)
}

address {
  font-family: all-round-gothic, sans-serif;
  font-weight: 500;
  font-style: normal;
}
@media screen and (max-width: 960px) {
  .logo {
    content: url(../public/logo-small.png);
    height: 3rem;
  }

  .navContainer {
    height: 3rem;
    padding-right: 0;
  }
  .navContainerScroll {
    pointer-events: all;
    background-color: #ebe9d0;
    padding-right: 0;
    margin-top: 0;
    height: 3rem;
  }

  .navigator {
    font-size: 4vw;
    width: 70vw;
  }

  .navigatorScroll {
    font-size: 4vw;
    height: 3rem;
    width: 70vw;
    box-shadow: none;
  }

  .categoryContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 20vw));
    min-width: 75vw;
    width: auto;
    max-width: 100vw;
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .categoryButton {
    min-width: 30vw;
    width: auto;
    text-align: center;
  }
  
  .categoryButtonActive {
    min-width: 30vw;
    text-align: center;
    width: auto;
  }

  .menuBox {
    grid-template-columns: repeat(2, minmax(auto, 30rem));
  }

  .menuItem {
    font-size: 1rem;
  }
  .details {
    visibility: hidden;
    margin: 0;
    width: 0;
    height: 0;
  }

  .name {
    margin-bottom: 20px;
    text-align: center;
  }
  .inlineId {
    font-size: 0;
  }

  .name:hover + .foodThumb {
    width: 80%;
    min-width: 10rem;
  }

  .aboutContainer {
    height: auto;
    min-height: 100vh;
    padding: 1rem;
  }
  .aboutLeft {
    display: none;
  }
  .aboutRight {
    padding: .5rem;
    background-color: transparent;
    font-size: 1rem;
    width: 90vw;
    background-color: white;
    color:rgb(82, 77, 77);
  }

}